/*/////// MEDIA ////////*/

img, video, audio, iframe, table, form {
    width: 100%; /* IE */
    max-width: 100%; /* FF, Safari, Chrome */
  }
  
  /*/////// LAYOUT STYLES ////////*/
  .row{
      margin-bottom: 20px;
  }

  /*/////// NAVBAR ////////*/

.social {
    position: fixed;
    top: 163px;
    right: 20px;
    width: 40px;
    z-index: 2;
  }